includes:
    - ./vendor/phpstan/phpstan/conf/config.levelmax.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    ignoreErrors:
        - '#Variable \$result might not be defined.#'
        - '#Method App\Command\CalculatorCommand::getExpressionFromInput() should return string|null but returns array<string>|string.#'
